.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    
}
.logo{
    margin-top: 50px;
    font-size: 5rem;
    animation: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    user-select: none;
}
.corpo{
    animation: moveCorpo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .8s;
    font-size: 2rem;
    font-weight: 300;
    user-select: none;
}
.drag{
    user-select: none;
    cursor: pointer;
}

@keyframes move {
    
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveCorpo {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}